<footer class="footer d-sm-flex flex-sm-row">        
    <div class="input-group input-group-sm ms-2 p-2">        
        <label for="status" class="input-group-text" >Status: </label>        
        <input class="form-control" type="text" placeholder=">>"  id="status"  disabled>
    </div>               
    <div class="input-group input-group-sm p-2">
        <input id="namesearch" type="text" class="form-control" placeholder="" aria-label="NodeName" aria-describedby="basic-addon">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>     
    </div>       
    <div class="input-group input-group-sm gap-3 p-2">    
        <input class="form-control flex-sm-fill" type="text" placeholder="x: y:" id="position"  disabled>  
        <a>EVA.NET © 2024</a>  
        <span class="text">{{ text_version }}&nbsp;{{ Version }}_{{ lang }}</span>              
    </div>       
</footer>
